$space: 8px;
$text-color: rgba(0, 0, 0, 0.87);
$text-color-pale: rgba(0, 0, 0, 0.54);
$link-active: hsl(12, 78%, 35%);
$font: 'Roboto', 'Helvetica', 'Arial', 'Microsoft Yahei', '微软雅黑', STXihei,
  '华文细黑', sans-serif;
$ios-bottom-offset: 44px;
$appbar-height: 56px;
$mobile-width: 576px;
