@import './variable';

.bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: $font;
  margin: 0 auto;
  padding: $space $space * 2;
  min-height: $appbar-height;
  display: flex;
  font-size: 1.3rem;
  align-items: center;

  a {
    color: inherit;
    text-decoration: none;
  }
}
