@import './variable';

.content {
  > h2 {
    border-bottom: 1px solid;
    border-bottom-color: inherit;
    line-height: 2;
  }

  > p {
    text-align: justify;
  }

  li {
    margin-bottom: 0.5em;
  }

  aside {
    font-style: italic;
    padding: 0 $space;
    border: 1px solid;
    border-radius: 4px;
    margin: $space * 2 -#{$space} $space * 2;
    break-inside: avoid;
    color: $text-color-pale;
    border-color: currentColor;

    > p {
      color: inherit;
      &:first-child {
        margin-top: 0.5em;
      }
      &:last-child {
        margin-bottom: 0.5em;
      }
    }
  }

  .pre-responsive-table + table {
    @media (max-width: 450px) {
      thead {
        display: none;
      }
      tr {
        display: flex;
        flex-flow: column;
        margin-bottom: $space;

        > td:first-child {
          border-bottom: none;
        }

        &:first-child {
          > td:first-child {
            border-top-color: hsla(0, 0%, 0%, 0.12);
            border-top-style: solid;
            border-top-width: 1px;
          }
        }
      }
    }
  }

  details {
    padding: 0 $space $space * 2;
    > summary {
      cursor: pointer;
    }

    p {
      margin-top: $space;
    }
  }
}
